
<h4>My Partial Image</h4>

<div class="row">
    @if (TempData["Message"] != null)
    {
        <div class="col-sm-8">
            <div class="alert alert-primary">
                @TempData["Message"]
            </div>
        </div>
    }
</div>