@page "{id}/{handler?}"
@model Ares.RazorPages.Pages.Products.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Request.Query["param1"]</h1>


<form method="post">
    <input type="hidden" asp-for="Product.Id" />
    <input type="text" asp-for="Product.Name" />
    <input type="text" asp-for="Product.UnitPrice" />

    <button type="submit">Save</button>
</form>

<partial name="_ImagePartial" />

@await Html.PartialAsync("_ImagePartial")

<form method="post" asp-page-handler="NotificationPreferences">


    <button type="submit">Save</button>
</form>

